asgiref==3.7.2
contourpy==1.1.1
coverage==4.5.4
cycler==0.12.1
Django==4.2.6
fonttools==4.43.1
kiwisolver==1.4.5
matplotlib==3.8.0
mdolab-baseclasses==1.8.0
mpi4py==3.1.5
numpy==1.26.0
numpy-stl==3.0.1
packaging==23.2
parameterized==0.9.0
Pillow==10.0.1
pygeo==1.13.0
pyparsing==3.1.1
pyspline==1.5.2
python-dateutil==2.8.2
python-utils==3.8.1
scipy==1.11.3
six==1.16.0
sqlparse==0.4.4
testflo==1.4.12
typing_extensions==4.8.0
